Package: com.akaslow.teltx
Name: TeltX
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: AkASlow
Author: AkASlow
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 192
